In [1]:
import pandas as pd
import leafmap

In [8]:
data = pd.read_csv('../data/consumo energia 202407.csv', sep=';')

In [22]:
data.head(3)

,FECHA_CORTE,PERIODO_FACTURACION,UUID,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FECHA_INICIO,CONSUMO_KW,POTENCIA_CONTRATADA,MONTO_SOLES,FASE,CODIGO_CIU
0,20240809,202407,C202201170199124880220119,151011,LIMA,YAUYOS,COLONIA,COLONIA,BT5B,20220117,199.0,1.0,237.3,MONOFASICO,T9700
1,20240809,202407,C202203060199127920220314,151001,LIMA,YAUYOS,YAUYOS,YAUYOS,BT5B,20220306,12.0,3.0,38.8,MONOFASICO,T9700
2,20240809,202407,C202204160199130660220412,151003,LIMA,YAUYOS,AYAUCA,CONCUBAY,BT5B,20220416,38.0,3.0,35.9,MONOFASICO,T9700

In [23]:
data.drop(axis=1, columns=['FECHA_CORTE', 'FECHA_INICIO'], inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80586 entries, 0 to 80585
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PERIODO_FACTURACION  80586 non-null  int64
 1   UUID                 80586 non-null  object
 2   UBIGEO               80586 non-null  int64
 3   DEPARTAMENTO         80586 non-null  object
 4   PROVINCIA            80586 non-null  object
 5   DISTRITO             80586 non-null  object
 6   LOCALIDAD            80586 non-null  object
 7   TARIFA               80586 non-null  object
 8   CONSUMO_KW           80586 non-null  float64
 9   POTENCIA_CONTRATADA  80586 non-null  float64
 10  MONTO_SOLES          80586 non-null  float64
 11  FASE                 80586 non-null  object
 12  CODIGO_CIU           80586 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 8.0+ MB

In [25]:
data.columns

Index(['PERIODO_FACTURACION', 'UUID', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA',
       'DISTRITO', 'LOCALIDAD', 'TARIFA', 'CONSUMO_KW', 'POTENCIA_CONTRATADA',
       'MONTO_SOLES', 'FASE', 'CODIGO_CIU'],
      dtype='object')

In [10]:
m = leafmap.Map(center=[-12.046374, -77.042793], zoom=5)

in_shp = "/home/angel/Documents/galois/EnergyClusterAnalyzer/data/01_DEPARTAMENTOS/DEPARTAMENTOS.shp"
m.add_shp(in_shp, layer_name="Countries")

m

Map(center=[-12.046374, -77.042793], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_titleâ€¦